---
layout: default
title: Jose on Code!
meta-robots: "noodp, noydir, noindex, noarchive"
---

		{% for page in paginator.posts %}
		  {% include single_page.html %}
		{% endfor %}

<div class="navigation" id="nav-below">
	{% if paginator.next_page %}
	<div class="nav-previous"><a href="/page{{paginator.next_page}}"><span class="meta-nav">«</span> Older posts</a></div>
	{% endif %}
	{% if paginator.previous_page %}
		{% if paginator.previous_page == 1%}
		<div class="nav-next"><a href="/">Newer posts <span class="meta-nav">»</span></a></div>
		{% else %}
		<div class="nav-next"><a href="/page{{paginator.previous_page}}">Newer posts <span class="meta-nav">»</span></a></div>
		{% endif %}
	{% endif %}
</div>