	<div class="entry-meta">
		<span class="meta-prep meta-prep-author">By </span>
		<span class="author vcard">
			José
			<a alt="Google+" 
				href="http://profiles.google.com/jfromaniello?rel=author" 
				rel="author" 
				style="display:none" 
				title="Jose is on Google+">
				+José F. Romaniello</a>
		</span>
		<span class="meta-sep meta-sep-entry-date"> | </span>
		<span class="meta-prep meta-prep-entry-date">Published: </span>
		<span class="entry-date">
			<abbr title="{{ page.date }}" class="published">{{ page.date | date : "%Y/%m/%d"}}</abbr>
		</span>
	</div>