<div id="primary" class="aside main-aside">
  <ul class="xoxo">
    <li class="widgetcontainer widget_search" id="search-2">
      <h3 class="widgettitle"><label for="q">Search</label></h3>
      <form action="/search/" method="get" id="searchform">
        <div>
          <input type="text" tabindex="1" size="32"
                  onblur="if (this.value == '') {this.value = 'To search, type and hit enter';}"
                  onfocus="if (this.value == 'To search, type and hit enter') {this.value = '';}"
                  value="To search, type and hit enter"
                  name="q" id="q">
          <input type="submit" tabindex="2" id="searchsubmit">
        </div>
      </form>
    </li>

  </ul>
</div>

